# Chainerで回帰

## 必要なモジュールの読み込み

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('housing.csv')

In [4]:
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## 入力変数と教師データに分割

In [15]:
x = df.iloc[:, :-1].values.astype('f')
t = df.iloc[:, -1].values.astype('f')

In [18]:
x.shape

(506, 13)

In [23]:
# 教師データのサイズ
#t.shape

In [24]:
t = t.reshape(len(t), 1)

In [25]:
t.shape

(506, 1)

## データセットの準備

In [27]:
dataset = list(zip(x, t))

## 訓練データと検証データの分割

In [28]:
import chainer
import chainer.functions as F
import chainer.links as L

In [29]:
n_train = int(len(dataset) * 0.7)
n_train

354

In [30]:
train, test = chainer.datasets.split_dataset_random(dataset, n_train, seed=0)

In [31]:
len(train)

354

In [32]:
len(test)

152